

<h1>Regression Changes</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Version ID </th>
      <th>Item Type </th>
      <th>Diff </th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
      <tr >
        <td><%= version.id %></td>
        <td><%= version.item_type %></td>
        <td><%= link_to  "Diff", version_path(version.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>