<h1 class="text-center">Regression Changes: <%= @version.item_type %> </h1>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value Before </th>
      <th>Value after </th>
    </tr>
  </thead>
  <tbody>
    <% @version.changeset.keys.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= @version.changeset[key][0] %></td>
        <td><%= @version.changeset[key][1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
