<h1>Regression Changes</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Attribute key changes</th>
      <th>Value Before </th>
      <th>Value after </th>
    </tr>
  </thead>
  <tbody>
      <tr>
      	<% @version.changeset.keys.each do |key| %>
      	<td><%= key %></td>
        <td><%= @version.changeset[key][0] %></td>
        <td><%= @version.changeset[key][1] %></td>
        <% end %>
      </tr>
  </tbody>
</table>